
<div class="filter" id="spacex-filter">
    <label>Filters</label> 
    <div class="item-info-title"> <label >Launch Year</label></div>    
    <div class="item-info">
        <div class="row display-table" >
            <div class=" "  *ngFor="let year of launchYear; let i = index;">
                <div class="button-wrapper">
                    <button [ngClass]="{'active': selectedIndex == i}" class="filter-buttton" (click)="onYearFilter(year.value,i)">{{year.displayText}}</button>
                </div>
            </div>        
    </div>
        
    </div>
    <div class="item-info-title"><label>Successful Launch</label></div>
    
    <div class="item-info">
        <div class="row display-table" >
        <div class=" " *ngFor="let year of launchSuccess; let iLaunchSuccess = index;">       
        <div class="button-wrapper" >
            <button [ngClass]="{'active': selectedlaunchIndex == iLaunchSuccess}" class="filter-buttton" (click)="onlaunchSuccessFilter(year.value,iLaunchSuccess)">{{year.displayText}}</button>
        </div>
    </div>
    </div> 
    </div>
    <div class="item-info-title"> <label>Successful Landing</label></div>
   
    <div class="item-info">
        <div class="row display-table" >
        <div class=" " *ngFor="let year of landingSuccess; let iLandSuccess = index;">
        <div class="button-wrapper" >
            <button [ngClass]="{'active': selectedLandIndex == iLandSuccess}" class="filter-buttton" (click)="onlandSuccessFilter(year.value,iLandSuccess)">{{year.displayText}}</button>
        </div>
    </div>
    </div>          
    </div>
</div>